[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
pandas = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
spacy = "*"
requests = "*"
html2text = "*"
gensim = "*"
pyldavis = "*"
textblob = "*"
nltk = "*"
psycopg2-binary = "*"
faster-than-requests = "*"
django-pandas = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
python-dotenv = "*"
simplejson = "*"
rest-pandas = "*"

[requires]
python_version = "3.7"
