[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"

[packages]
flask = "*"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
jupyterlab = "*"
requests = "*"
gunicorn = "*"
plotly = "*"
category-encoders = "*"

[requires]
python_version = "3.7"
